.DS_Store
needle-tinder/needle-tinder.xcodeproj/project.xcworkspace/xcuserdata/macbookpro.xcuserdatad/UserInterfaceState.xcuserstate
needle-tinder/needle-tinder.xcodeproj/project.xcworkspace/xcuserdata/